pre code.hljs {
  display: block;
  overflow-x: auto;
}
code.hljs {
  padding: 1px 2px;
}
.hljs {
  color: rgb(105, 105, 105);
  font-family: "Fredoka", "sans-serif";
}
.hljs ::selection,
.hljs::selection {
  background-color: #ff6b6b;
  color: rgb(0, 0, 0);
}
.hljs-comment {
  color: #009f4d;
}
.hljs-tag {
  color: #5fafd7;
}
.hljs-operator,
.hljs-punctuation,
.hljs-subst {
  color: rgb(105, 105, 105);
}
.hljs-operator {
  opacity: 0.7;
}
.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
  color: rgb(105, 105, 105);
}
.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
  color: #6e44ff;
}
.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
  color: #eb5160;
}
.hljs-strong {
  font-weight: 700;
  color: #00c2d1;
}
.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
  color: #00c2d1;
}
.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
  color: #eb5160;
}
.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
  color: #6e44ff;
}
.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
  color: #eb5160;
}
.hljs-emphasis {
  color: #00ffff;
  font-style: italic;
}
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #00ffff;
}
.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: 700;
}
